<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="color" style="display: none;">
			<span class="sp1">1</span>
			<span class="sp2">2</span>
			<span class="sp3">3</span>
			<span class="sp4">4</span>
			<span class="sp5">5</span>
			<span class="sp6">6</span>
			<span class="sp7">7</span>
			<span class="sp8">8</span>
			<span class="sp9">9</span>
			<span class="sp10">10</span>
		</div>
		
		<div class="colorTest1">
			颜色测试1
		</div>
		<div class="colorTest2">
			颜色测试2
		</div>
		<div class="info">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">框架说明，基于Bootstrap,less二次定制 去除了bootsrrap的圆角</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="150"><span class="span-tdname">目录说明</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/catalog.html">文件结构</a>
							</div>
						</td>
					</tr>
					<tr>
						<td><span class="span-tdname">表单</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/form-input.html">input</a>
								<a href="../components/form-textarea.html">textarea</a>
								<a href="../components/form-checkox.html">checkbox</a>
								<a href="../components/form-select.html">select</a>
								<a href="../components/form-radio.html">radio</a>
								<a href="../components/form-file.html">file、images</a>
								<a href="../components/form-form.html">input、textarea、checkbox、select、radio、file、images组合使用</a>
								<a href="../components/form-switch.html">开关组合</a>
								<a href="../components/form-noborder.html">无边框表单组</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">表格</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/table-default.html">默认表格</a>
								<a href="../components/table-show.html">数据展示型表格，没有form信息</a>
								<a href="../components/table-striped.html">隔行换色</a>
								<a href="../components/table-noborder.html">无边框表格</a>
								<a href="../components/table-fixedhead.html">固定表头</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">模态框</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/modalbox-default.html">源生模态框</a>
								<a href="../components/modalbox-js.html">JS唤起模态框</a>
								<a href="../components/modalbox-confirm.html">confirm弹窗</a>
								<a href="http://layer.layui.com/?alone" target="_blank">Layui弹窗</a>
							</div>
						</td>
					</tr>
  
					<tr>
						<td><span class="span-tdname">选项卡</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/tab.html">选项卡</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">按钮</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/btn.html">按钮组</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">提示条</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/tip.html">危险、警告、成功、普通</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">时间选择器</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/time-select.html">时间选择</a>
								<a href="../components/time-selectLayui.html">时间选择基于Layui</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">地区选择器</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/city-select.html">地区选择</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">文本文档</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/text-style.html">文本样式</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">富文本编辑器</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/textarea-rich.html">富文本</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">分页</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/paging.html">分页组</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">内外边距</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/padding&margin.html">内外边距</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">面包屑导航</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/crumbs.html">文字面包屑导航(纯文字，图文，css3伪类)</a>
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="span-tdname">图标管理</span></td>
						<td>
							<div class="div-tdmain">
								<a href="http://fontawesome.dashgame.com/" target="_blank">字体图标,本框架已经引入了</a>
							</div>
						</td>
					</tr>



					<tr>
						<td><span class="span-tdname">登录页面</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/login1.html" target="_blank">登录页面风格1</a>
								<a href="../components/login2.html" target="_blank">登录页面风格2</a>
							</div>
						</td>
					</tr>
					
					<tr>
						<td><span class="span-tdname">插件包</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../plugins/jquery-confirm-master.zip" target="_blank">弹窗插件基于bootstrap的第三方</a>
								<a href="../plugins/layer-v3.1.0.zip" target="_blank">弹窗插件基于layUi</a>
								<a href="../plugins/kindeditor-4.1.11-zh-CN富文本编辑器.zip" target="_blank">富文本编辑器</a>
								<a href="../plugins/layDate-v5.0.85.zip" target="_blank">时间选择器插件基于layUi</a>
								<a href="http://www.ichartjs.com/designer/index.html" target="_blank">图表插件</a>
								<a href="../plugins/TimeSelect.zip" target="_blank">时间选择器2插件基于layUi,旧版本不建议用</a>
							</div>
						</td>
					</tr>
					
					<tr>
						<td><span class="span-tdname">其他</span></td>
						<td>
							<div class="div-tdmain">
								<a href="../components/prompt.html" target="_blank">操作提示页面</a>
								<a href="../components/createRole.html" target="_blank">权限管理</a>
							</div>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>

	</body>

</html>