<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
 	<div class="topMain clearfix">
 		<h1>
 			<a href=""><img src="../imgs/logo.png"/></a>
 		</h1>
 		<span class="btnGroup">
 			<a href=""><i class="fa fa-fw fa-user"></i>您好，admin</a>
 			<a href=""><i class="fa fa-fw fa-gears"></i>设置</a>
 			<a href=""><i class="fa fa-fw fa-power-off"></i>退出</a>
 		</span>
 	</div>
 	<div class="leftMain">
 		<ul class="outerlayer">
 			<li><span><i class="fa fa-fw fa-table"></i>表格展示</span>
 				<ul class="innerlayer">
 					<li><a href="#/table1"><i class="fa fa-fw fa-angle-right"></i>基本表格</a></li>
 					<li><a href="#/table2"><i class="fa fa-fw fa-angle-right"></i>固定表头</a></li>
 					<li><a href="#/table3"><i class="fa fa-fw fa-angle-right"></i>隔行换色表格</a></li>
 					<li><a href="#/table4"><i class="fa fa-fw fa-angle-right"></i>无边框表格</a></li>
 				</ul>
 			</li>
 			<li><span><i class="fa fa-fw fa-edit"></i>信息录入</span>
 				<ul class="innerlayer">
 					<li><a href="#/form"><i class="fa fa-fw fa-angle-right"></i>联合演示</a></li>
 				</ul>
 			</li>
 			<li><span><i class="fa fa-fw fa-search"></i>搜索形态</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			<li><span><i class="fa fa-fw fa-file-text-o"></i>文本展示</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			<li><span><i class="fa fa-fw fa-area-chart"></i>图表</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			<li><span><i class="fa fa-fw fa-reorder"></i>列表</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			<li><span><i class="fa fa-fw fa-edit"></i>空数据</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			
 			<li><span><i class="fa fa-fw fa-retweet"></i>状态切换</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			
 			<li><span><i class="fa fa-fw fa-user"></i>登录</span>
 				<ul class="innerlayer">
 					<li><a href=""><i class="fa fa-fw fa-angle-right"></i>内层分类</a></li>
 				</ul>
 			</li>
 			
 		</ul>
 		
 	</div>
 	<div class="rightMain">
 		<iframe src="/merchant/me/merchant/list.htm" id="rightMain" width="100%" height="100%" frameborder="0"></iframe>
 	</div>
	</body>
</html>