<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="info2">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">城市选择器&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="example">
								<h5>城市选择器 </h5>
								<div class="form-citySelectGroup clearfix">
									<span class="citySelect-name"><i class="asterisk">*</i>请选择城市：</span>
									<div class="citySelect-div">
										<div class="citySelectWrap">
											<select name="" class="citySelect">
												<option value="">—省—</option>
												<option value="">32GB</option>
												<option value="">64GB</option>
												<option value="">128GB</option>
												<option value="">256GB</option>
												<option value="">512GB</option>
												<option value="">1024GB</option>
											</select>
											<select name="" class="citySelect">
												<option value="">—市—</option>
												<option value="">32GB</option>
												<option value="">64GB</option>
												<option value="">128GB</option>
												<option value="">256GB</option>
												<option value="">512GB</option>
												<option value="">1024GB</option>
											</select>
											<select name="" class="citySelect">
												<option value="">—区—</option>
												<option value="">32GB</option>
												<option value="">64GB</option>
												<option value="">128GB</option>
												<option value="">256GB</option>
												<option value="">512GB</option>
												<option value="">1024GB</option>
											</select>
										</div>
										<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>
								<div class="code">
									<xmp>
										<div class="form-citySelectGroup clearfix">
											<span class="citySelect-name"><i class="asterisk">*</i>请选择城市：</span>
											<div class="citySelect-div">
												<div class="citySelectWrap">
													<select name="" class="citySelect">
														<option value="">—省—</option>
														<option value="">32GB</option>
														<option value="">64GB</option>
														<option value="">128GB</option>
														<option value="">256GB</option>
														<option value="">512GB</option>
														<option value="">1024GB</option>
													</select>
													<select name="" class="citySelect">
														<option value="">—市—</option>
														<option value="">32GB</option>
														<option value="">64GB</option>
														<option value="">128GB</option>
														<option value="">256GB</option>
														<option value="">512GB</option>
														<option value="">1024GB</option>
													</select>
													<select name="" class="citySelect">
														<option value="">—区—</option>
														<option value="">32GB</option>
														<option value="">64GB</option>
														<option value="">128GB</option>
														<option value="">256GB</option>
														<option value="">512GB</option>
														<option value="">1024GB</option>
													</select>
												</div>
												<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>
									</xmp>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>