<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="tabledemo">
			<h1>
			 	<span class="span-tdname">面包屑导航&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span>
			 </h1>
		</div>

		<h5 class="demo-notice">
			面包屑导航
		</h5>

		<div class="btn-demo">
				 <span class="clearfix">无修饰</span>
				 <span class="crumbsNavA"><a href=""><i class="fa fa-fw fa-home"></i>主页</a>/<a href=""><i class="fa fa-fw fa-book"></i>无修饰</a></span>
				 <span class="clearfix">css3伪类修饰</span>
				 <span class="crumbsNavB"><a href=""><i class="fa fa-fw fa-home"></i>主页</a><a href=""><i class="fa fa-fw fa-book"></i>css3伪类休息</a></span>
				 <hr />
				 <span class="clearfix">css3伪类修饰，带图标</span>
				 <span class="crumbsNavB"><a href=""><i class="fa fa-fw fa-home"></i>主页</a><a href=""><i class="fa fa-fw fa-book"></i>css3伪类休息</a></span>
		</div>
		 
		<div class="code">
			<xmp>
				 <span class="clearfix">无修饰</span>
				 <span class="crumbsNavA"><a href=""><i class="fa fa-fw fa-home"></i>主页</a>/<a href=""><i class="fa fa-fw fa-book"></i>无修饰</a></span>
				 <span class="clearfix">css3伪类修饰</span>
				 <span class="crumbsNavB"><a href=""><i class="fa fa-fw fa-home"></i>主页</a><a href=""><i class="fa fa-fw fa-book"></i>css3伪类休息</a></span>
				 <hr />
				 <span class="clearfix">css3伪类修饰，带图标</span>
				 <span class="crumbsNavB"><a href=""><i class="fa fa-fw fa-home"></i>主页</a><a href=""><i class="fa fa-fw fa-book"></i>css3伪类休息</a></span>
			</xmp>
		</div>
	</body>

</html>