<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
  		<script src="./js/html5shiv.min.js"></script>
  		<script src="./js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="info2">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">文件、图片文件上传组&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="example">
								<h5>1、file：文件上传 </h5>
								<div class="form-fileGroup clearfix">
									<span class="file-name"><i class="asterisk">*</i>文件上传：</span>
									<div class="file-div">
										<div class="fileWrap">
											<label class="uploadfile">+ 请选择文件<input type="file" class="form-file"/></label>
											<div class="uploadFlieList">
												<ul>
													<li>
														<span class="file-title">2017年1月份电商数据报表.xsl</span>
														<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
													</li>
													<li>
														<span class="file-title">2017年1月份电商数据报表.xsl</span>
														<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
													</li>
													<li>
														<span class="file-title">2017年1月份电商数据报表.xsl</span>
														<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
													</li>
												</ul>
											</div>
										</div>
										<strong>
											<label class="error">必须上传文件</label>
										</strong>
									</div>
								</div>

								<div class="code">
									<xmp>
										<div class="form-fileGroup clearfix">
											<span class="file-name"><i class="asterisk">*</i>文件上传：</span>
											<div class="file-div">
												<div class="fileWrap">
													<label class="uploadfile">+ 请选择文件<input type="file" class="form-file"/></label>
													<div class="uploadFlieList">
														<ul>
															<li>
																<span class="file-title">2017年1月份电商数据报表.xsl</span>
																<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
															</li>
															<li>
																<span class="file-title">2017年1月份电商数据报表.xsl</span>
																<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
															</li>
															<li>
																<span class="file-title">2017年1月份电商数据报表.xsl</span>
																<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
															</li>
														</ul>
													</div>
												</div>
												<strong>
											<label class="error">必须上传文件</label>
											</strong>
											</div>
										</div>
									</xmp>
								</div>
							</div>

							<div class="example">
								<h5>2、images：图片上传 </h5>

								<div class="form-imagesGroup clearfix">
									<span class="images-name"><i class="asterisk">*</i>图片上传：</span>
									<div class="images-div">
										<div class="imagesWrap">
											<label class="uploadimages">+ 请上传图片<input type="file" class="form-images"/></label>
											<div class="imagesList">
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test16-9.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
											</div>
										</div>
										<strong>
											<label class="error">必须上传文件</label>
										</strong>
									</div>
								</div>

								<div class="code">
									<xmp>
										<div class="form-imagesGroup clearfix">
											<span class="images-name"><i class="asterisk">*</i>图片上传：</span>
											<div class="images-div">
												<div class="imagesWrap">
													<label class="uploadimages">+ 请上传图片<input type="file" class="form-images"/></label>
													<div class="imagesList">
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test16-9.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
													</div>
												</div>
												<strong>
											<label class="error">必须上传文件</label>
										</strong>
											</div>
										</div>
									</xmp>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>

</html>