<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
  		<script src="./js/html5shiv.min.js"></script>
  		<script src="./js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="info2">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">组合使用&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>

							<div class="example">
								<h5>input、textarea、checkbox、select、radio、file、images组合使用</h5>

								<div class="form-selectGroup clearfix mr-b15">
									<span class="select-name"><i class="asterisk">*</i>下拉选项：</span>
									<div class="select-div">
										<div class="selectWrap">
											<select name="" class="control-select">
												<option value="">—请选择—</option>
												<option value="">32GB</option>
												<option value="">64GB</option>
												<option value="">128GB</option>
												<option value="">256GB</option>
												<option value="">512GB</option>
												<option value="">1024GB</option>
											</select>
											<select name="" class="control-select">
												<option value="">—请选择—</option>
												<option value="">32GB</option>
												<option value="">64GB</option>
												<option value="">128GB</option>
												<option value="">256GB</option>
												<option value="">512GB</option>
												<option value="">1024GB</option>
											</select>
											<select name="" class="control-select">
												<option value="">—请选择—</option>
												<option value="">32GB</option>
												<option value="">64GB</option>
												<option value="">128GB</option>
												<option value="">256GB</option>
												<option value="">512GB</option>
												<option value="">1024GB</option>
											</select>
										</div>

										<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>

								<div class="form-inputGroup clearfix mr-b15"> <span class="input-name"><i class="asterisk">*</i>请选择范围：</span>
									<div class="input-div">
										<div class="form-rangeGroup"> <input type="text" class="form-sizeRange focus-border" placeholder="最小值1" /> <span>-</span> <input type="text" class="form-sizeRange focus-border" placeholder="最大值99" /> </div> <strong> <label class="error">验证信息不能为空</label> </strong> </div>
								</div>

								<div class="form-checkboxGroup clearfix mr-b15">
									<span class="checkbox-name"><i class="asterisk">*</i>颜色：</span>
									<div class="checkbox-div">
										<div class="checkboxWrap">
											<!--允许多个产生换行-->
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox1" class="form-checkbox" value="option1">白色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox2" class="form-checkbox" value="option1">黑色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox3" class="form-checkbox" value="option1">青色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox4" class="form-checkbox" value="option1">红色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox5" class="form-checkbox" value="option1">赤色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox6" class="form-checkbox" value="option1">黑色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox7" class="form-checkbox" value="option1">绿色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox8" class="form-checkbox" value="option1">紫色
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox8" class="form-checkbox" value="option1">透明
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox8" class="form-checkbox" value="option1">黄色
													</label>
										</div>
										<strong>
													<label class="error">验证信息不能为空</label>
												</strong>
									</div>
								</div>

								<div class="form-inputGroup clearfix mr-b15">
									<span class="input-name"><i class="asterisk">*</i>姓名：</span>
									<div class="input-div">
										<input type="text" class="form-inputFixedWidth focus-border" placeholder="请输入内容" />
										<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>
								
								<div class="form-switchGroup  mr-b15"> <span class="switch-Name"><i class="asterisk">*</i>状态开关</span> <div class="form-switchWrap"> <div class="form-switchInner"> <div class="form-switchMain"> <div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div> </div> </div> <strong> <label class="error">验证信息不能为空</label> </strong> </div> </div> <script type="text/javascript"> $('.form-switchAuto').click(function() { if(!$(this).hasClass('switch-drive')) { $(this).addClass('switch-drive'); } else { $(this).removeClass('switch-drive'); } }) </script>
								
								
								<div class="form-radioGroup clearfix mr-b15">
									<span class="radio-name"><i class="asterisk">*</i>性别：</span>
									<div class="radio-div">
										<div class="radioWrap">
											<label class="radio-inline">
											  	<input type="radio" name="inlineRadioOptions" class="form-radio" id="inlineRadio1" value="option1">男
											</label>
											<label class="radio-inline">
											  	<input type="radio" name="inlineRadioOptions" class="form-radio" id="inlineRadio2" value="option2">女
											</label>
											<label class="radio-inline">
											  	<input type="radio" name="inlineRadioOptions" class="form-radio" id="inlineRadio3" value="option3">保密
											</label>
										</div>
										<strong>
													<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>

								<div class="form-imagesGroup clearfix mr-b15">
									<span class="images-name"><i class="asterisk">*</i>图片上传：</span>
									<div class="images-div">
										<div class="imagesWrap">
											<label class="uploadimages"><i class="fa fa-fw fa-cloud-upload"></i>请上传图片<input type="file" class="form-images"/></label>
											<div class="imagesList">
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test16-9.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
												<div class="uploadimg">
													<span class="delimg">×</span>
													<img src="../imgs/test.jpg" alt="" />
												</div>
											</div>
										</div>
										<strong>
											<label class="error">必须上传文件</label>
										</strong>
									</div>
								</div>

								<div class="form-inputGroup clearfix mr-b15">
									<span class="input-name"><i class="asterisk">*</i>手机号码：</span>
									<div class="input-div">
										<input type="text" class="form-inputFixedWidth focus-border" placeholder="请输入内容" />
										<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>
								<div class="form-inputGroup clearfix mr-b15">
									<span class="input-name"><i class="asterisk">*</i>地址：</span>
									<div class="input-div">
										<input type="text" class="form-inputFixedWidth focus-border" placeholder="请输入内容" />
										<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>
								<div class="form-textareaGroup clearfix mr-b15">
									<span class="textarea-name"><i class="asterisk">*</i>留言内容：</span>
									<div class="textarea-div">
										<textarea class="form-textareaFixedWidth focus-border" placeholder="请输入内容"></textarea>
										<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
									</div>
								</div>

								<div class="form-fileGroup clearfix">
									<span class="file-name"><i class="asterisk">*</i>文件上传：</span>
									<div class="file-div">
										<div class="fileWrap">
											<label class="uploadfile"><i class="fa fa-fw fa-cloud-upload"></i>请选择文件<input type="file" class="form-file"/></label>
											<div class="uploadFlieList">
												<ul>
													<li>
														<span class="file-title">2017年1月份电商数据报表.xsl</span>
														<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
													</li>
													<li>
														<span class="file-title">2017年1月份电商数据报表.xsl</span>
														<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
													</li>
													<li>
														<span class="file-title">2017年1月份电商数据报表.xsl</span>
														<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
													</li>
												</ul>
											</div>
										</div>
										<strong>
											<label class="error">必须上传文件</label>
											</strong>
									</div>
								</div>

								<div class="code">
									<xmp>
										<div class="form-selectGroup clearfix mr-b15">
											<span class="select-name"><i class="asterisk">*</i>下拉选项：</span>
											<div class="select-div">
												<div class="selectWrap">
													<select name="" class="control-select">
														<option value="">—请选择—</option>
														<option value="">32GB</option>
														<option value="">64GB</option>
														<option value="">128GB</option>
														<option value="">256GB</option>
														<option value="">512GB</option>
														<option value="">1024GB</option>
													</select>
													<select name="" class="control-select">
														<option value="">—请选择—</option>
														<option value="">32GB</option>
														<option value="">64GB</option>
														<option value="">128GB</option>
														<option value="">256GB</option>
														<option value="">512GB</option>
														<option value="">1024GB</option>
													</select>
													<select name="" class="control-select">
														<option value="">—请选择—</option>
														<option value="">32GB</option>
														<option value="">64GB</option>
														<option value="">128GB</option>
														<option value="">256GB</option>
														<option value="">512GB</option>
														<option value="">1024GB</option>
													</select>
												</div>

												<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>

										<div class="form-inputGroup clearfix"> <span class="input-name"><i class="asterisk">*</i>请选择范围：</span>
											<div class="input-div">
												<div class="form-rangeGroup"> <input type="text" class="form-sizeRange focus-border" placeholder="最小值1" /> <span>-</span> <input type="text" class="form-sizeRange focus-border" placeholder="最大值99" /> </div> <strong> <label class="error">验证信息不能为空</label> </strong> </div>
										</div>

										<div class="form-checkboxGroup clearfix mr-b15">
											<span class="checkbox-name"><i class="asterisk">*</i>颜色：</span>
											<div class="checkbox-div">
												<div class="checkboxWrap">
													<!--允许多个产生换行-->
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox1" class="form-checkbox" value="option1">白色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox2" class="form-checkbox" value="option1">黑色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox3" class="form-checkbox" value="option1">青色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox4" class="form-checkbox" value="option1">红色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox5" class="form-checkbox" value="option1">赤色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox6" class="form-checkbox" value="option1">黑色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox7" class="form-checkbox" value="option1">绿色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox8" class="form-checkbox" value="option1">紫色
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox8" class="form-checkbox" value="option1">透明
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox8" class="form-checkbox" value="option1">黄色
													</label>
												</div>
												<strong>
													<label class="error">验证信息不能为空</label>
												</strong>
											</div>
										</div>

										<div class="form-inputGroup clearfix mr-b15">
											<span class="input-name"><i class="asterisk">*</i>姓名：</span>
											<div class="input-div">
												<input type="text" class="form-inputFixedWidth focus-border" placeholder="请输入内容" />
												<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>
										<div class="form-radioGroup clearfix mr-b15">
											<span class="radio-name"><i class="asterisk">*</i>性别：</span>
											<div class="radio-div">
												<div class="radioWrap">
													<label class="radio-inline">
											  	<input type="radio" name="inlineRadioOptions" class="form-radio" id="inlineRadio1" value="option1">男
											</label>
													<label class="radio-inline">
											  	<input type="radio" name="inlineRadioOptions" class="form-radio" id="inlineRadio2" value="option2">女
											</label>
													<label class="radio-inline">
											  	<input type="radio" name="inlineRadioOptions" class="form-radio" id="inlineRadio3" value="option3">保密
											</label>
												</div>
												<strong>
													<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>

										<div class="form-imagesGroup clearfix mr-b15">
											<span class="images-name"><i class="asterisk">*</i>图片上传：</span>
											<div class="images-div">
												<div class="imagesWrap">
													<label class="uploadimages">+ 请上传图片<input type="file" class="form-images"/></label>
													<div class="imagesList">
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test16-9.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
														<div class="uploadimg">
															<span class="delimg">×</span>
															<img src="../imgs/test.jpg" alt="" />
														</div>
													</div>
												</div>
												<strong>
											<label class="error">必须上传文件</label>
										</strong>
											</div>
										</div>

										<div class="form-inputGroup clearfix mr-b15">
											<span class="input-name"><i class="asterisk">*</i>手机号码：</span>
											<div class="input-div">
												<input type="text" class="form-inputFixedWidth focus-border" placeholder="请输入内容" />
												<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>
										<div class="form-inputGroup clearfix mr-b15">
											<span class="input-name"><i class="asterisk">*</i>地址：</span>
											<div class="input-div">
												<input type="text" class="form-inputFixedWidth focus-border" placeholder="请输入内容" />
												<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>
										<div class="form-textareaGroup clearfix mr-b15">
											<span class="textarea-name"><i class="asterisk">*</i>留言内容：</span>
											<div class="textarea-div">
												<textarea class="form-textareaFixedWidth focus-border" placeholder="请输入内容"></textarea>
												<strong>
											<label class="error">验证信息不能为空</label>
										</strong>
											</div>
										</div>

										<div class="form-fileGroup clearfix">
											<span class="file-name"><i class="asterisk">*</i>文件上传：</span>
											<div class="file-div">
												<div class="fileWrap">
													<label class="uploadfile">+ 请选择文件<input type="file" class="form-file"/></label>
													<div class="uploadFlieList">
														<ul>
															<li>
																<span class="file-title">2017年1月份电商数据报表.xsl</span>
																<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
															</li>
															<li>
																<span class="file-title">2017年1月份电商数据报表.xsl</span>
																<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
															</li>
															<li>
																<span class="file-title">2017年1月份电商数据报表.xsl</span>
																<span class="file-del" data-fileId="1"><i class="fa fa-fw fa-times"></i>删除</span>
															</li>
														</ul>
													</div>
												</div>
												<strong>
											<label class="error">必须上传文件</label>
											</strong>
											</div>
										</div>
										
										
										<div class="form-switchGroup"> <span class="switch-Name"><i class="asterisk">*</i>状态开关</span> <div class="form-switchWrap"> <div class="form-switchInner"> <div class="form-switchMain"> <div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div> </div> </div> <strong> <label class="error">验证信息不能为空</label> </strong> </div> </div> <script type="text/javascript"> $('.form-switchAuto').click(function() { if(!$(this).hasClass('switch-drive')) { $(this).addClass('switch-drive'); } else { $(this).removeClass('switch-drive'); } }) </script>
									</xmp>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>