<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="tabledemo">
			<h1>
			 	<span class="span-tdname">无边框表单组用于存放在table中&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span>
			 </h1>
		</div>

		<h5 class="demo-notice">
			无边框表单组用于存放在table中
		</h5>

		<div class="btn-demo">
			<h5>input无边框</h5>
			<br />
			<table class="table table-bordered table-default table-hover">
				<thead>
					<tr>
						<th>姓名 </th>
						<th>年龄</th>
						<th>班级</th>
						<th>学号</th>
						<th>开关</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
						<td>
							<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
						</td>
						<td>
							<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
						</td>
						<td>
							<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
						</td>
						<td>
							<div class="form-switchGroup2 mr-t5 mr-b5">
								<div class="form-switchWrap">
									<div class="form-switchInner">
										<div class="form-switchMain">
											<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
						<td>
							<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
						</td>
						<td>
							<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
						</td>
						<td>
							<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
						</td>
						<td>
							<div class="form-switchGroup2 mr-t5 mr-b5">
								<div class="form-switchWrap">
									<div class="form-switchInner">
										<div class="form-switchMain">
											<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
						<td>
							<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
						</td>
						<td>
							<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
						</td>
						<td>
							<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
						</td>
						<td>
							<div class="form-switchGroup2 mr-t5 mr-b5">
								<div class="form-switchWrap">
									<div class="form-switchInner">
										<div class="form-switchMain">
											<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
						<td>
							<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
						</td>
						<td>
							<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
						</td>
						<td>
							<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
						</td>
						<td>
							<div class="form-switchGroup2 mr-t5 mr-b5">
								<div class="form-switchWrap">
									<div class="form-switchInner">
										<div class="form-switchMain">
											<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
						<td>
							<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
						</td>
						<td>
							<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
						</td>
						<td>
							<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
						</td>
						<td>
							<div class="form-switchGroup2 mr-t5 mr-b5">
								<div class="form-switchWrap">
									<div class="form-switchInner">
										<div class="form-switchMain">
											<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
						<td>
							<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
						</td>
						<td>
							<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
						</td>
						<td>
							<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
						</td>
						<td>
							<div class="form-switchGroup2 mr-t5 mr-b5">
								<div class="form-switchWrap">
									<div class="form-switchInner">
										<div class="form-switchMain">
											<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			$('.form-switchAuto').click(function() {
				if(!$(this).hasClass('switch-drive')) {
					$(this).addClass('switch-drive');
				} else {
					$(this).removeClass('switch-drive');
				}
			})
		</script>
		<div class="code">
			<xmp>
				<table class="table table-bordered table-default table-hover">
					<thead>
						<tr>
							<th>姓名 </th>
							<th>年龄</th>
							<th>班级</th>
							<th>学号</th>
							<th>开关</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
							<td>
								<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
							</td>
							<td>
								<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
							</td>
							<td>
								<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
							</td>
							<td>
								<div class="form-switchGroup2 mr-t5 mr-b5">
									<div class="form-switchWrap">
										<div class="form-switchInner">
											<div class="form-switchMain">
												<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
							<td>
								<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
							</td>
							<td>
								<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
							</td>
							<td>
								<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
							</td>
							<td>
								<div class="form-switchGroup2 mr-t5 mr-b5">
									<div class="form-switchWrap">
										<div class="form-switchInner">
											<div class="form-switchMain">
												<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
							<td>
								<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
							</td>
							<td>
								<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
							</td>
							<td>
								<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
							</td>
							<td>
								<div class="form-switchGroup2 mr-t5 mr-b5">
									<div class="form-switchWrap">
										<div class="form-switchInner">
											<div class="form-switchMain">
												<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
							<td>
								<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
							</td>
							<td>
								<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
							</td>
							<td>
								<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
							</td>
							<td>
								<div class="form-switchGroup2 mr-t5 mr-b5">
									<div class="form-switchWrap">
										<div class="form-switchInner">
											<div class="form-switchMain">
												<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
							<td>
								<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
							</td>
							<td>
								<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
							</td>
							<td>
								<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
							</td>
							<td>
								<div class="form-switchGroup2 mr-t5 mr-b5">
									<div class="form-switchWrap">
										<div class="form-switchInner">
											<div class="form-switchMain">
												<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td><label for="" class="label-input-noborder"><input type="text" placeholder="请输入人名"/></label></td>
							<td>
								<label for="" class="label-selecter">
								<select name="">
									<option value="">—请选择—</option>
									<option value="">—2011—</option>
									<option value="">—2012—</option>
									<option value="">—2013—</option>
								</select>
							</label>
							</td>
							<td>
								<span for="" class="label-radioer">
								<label for=""><input type="radio"/><strong>男</strong></label>
								<label for=""><input type="radio"/><strong>女</strong></label>
							</span>
							</td>
							<td>
								<span for="" class="label-checkboxer">
								<label for=""><input type="checkbox"/><strong>黑色</strong></label>
								<label for=""><input type="checkbox"/><strong>白色</strong></label>
								<label for=""><input type="checkbox"/><strong>红色</strong></label>
								<label for=""><input type="checkbox"/><strong>绿色</strong></label>
							</span>
							</td>
							<td>
								<div class="form-switchGroup2 mr-t5 mr-b5">
									<div class="form-switchWrap">
										<div class="form-switchInner">
											<div class="form-switchMain">
												<div class="form-switchAuto"> <span class="switchOn">开启</span> <strong></strong> <span class="switchOff">关闭</span> </div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<script type="text/javascript">
					$('.form-switchAuto').click(function() {
						if(!$(this).hasClass('switch-drive')) {
							$(this).addClass('switch-drive');
						} else {
							$(this).removeClass('switch-drive');
						}
					})
				</script>
			</xmp>
		</div>
	</body>

</html>