<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
  		<script src="./js/html5shiv.min.js"></script>
  		<script src="./js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="info2">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">checkox组&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="example">
								<h5>1、checkox：标题定宽文字居右 </h5>
								<div class="form-checkboxGroup clearfix">
									<span class="checkbox-name"><i class="asterisk">*</i>表单标题：</span>
									<div class="checkbox-div">
										<div class="checkboxWrap">
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox1" class="form-checkbox" value="option1">demo1
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox2" class="form-checkbox" value="option1">demo1
													</label>
											<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox13" class="form-checkbox" value="option1">demo1
													</label>
										</div>
										<strong>
													<label class="error">验证信息不能为空</label>
												</strong>
									</div>
								</div>
								<div class="code">
									<xmp>
										<div class="form-checkboxGroup clearfix">
											<span class="checkbox-name"><i class="asterisk">*</i>表单标题：</span>
											<div class="checkbox-div">
												<div class="checkboxWrap">
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox1" class="form-checkbox" value="option1">demo1
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox2" class="form-checkbox" value="option1">demo1
													</label>
													<label class="checkbox-inline">
													  <input type="checkbox" id="inlineCheckbox13" class="form-checkbox" value="option1">demo1
													</label>
												</div>
												<strong>
													<label class="error">验证信息不能为空</label>
												</strong>
											</div>
										</div>
									</xmp>
								</div>
								<h5>2、checkox：不带前置标题的 </h5>
								<div>
									<span for="" class="label-checkboxer">
										<label for=""><input type="checkbox"/><strong>黑色</strong></label>
										<label for=""><input type="checkbox"/><strong>白色</strong></label>
										<label for=""><input type="checkbox"/><strong>红色</strong></label>
										<label for=""><input type="checkbox"/><strong>绿色</strong></label> 
									</span>
								</div>
								<div class="code">
									<xmp>
										<span for="" class="label-checkboxer">
											<label for=""><input type="checkbox"/><strong>黑色</strong></label>
											<label for=""><input type="checkbox"/><strong>白色</strong></label>
											<label for=""><input type="checkbox"/><strong>红色</strong></label>
											<label for=""><input type="checkbox"/><strong>绿色</strong></label> 
										</span>
									</xmp>
								</div>

							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>