<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
  		<script src="./js/html5shiv.min.js"></script>
  		<script src="./js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="info2">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">textarea组&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="example">
								<h5>1、Textarea：标题定宽文字居右、右侧Textarea自适应、获取焦点时边线变红色,不需要的话去掉.focus-border这个类 </h5>
								<div class="form-textareaGroup clearfix">
									<span class="textarea-name"><i class="asterisk">*</i>表单标题：</span>
									<div class="textarea-div">
										<textarea class="form-textareaFull focus-border" placeholder="请输入内容"></textarea>
									</div>
								</div>
								<div class="code">
									<xmp>
										<div class="form-textareaGroup clearfix">
											<span class="textarea-name"><i class="asterisk">*</i>表单标题：</span>
											<div class="textarea-div">
												<textarea class="form-textareaFull focus-border" placeholder="请输入内容"></textarea>
											</div>
										</div>
									</xmp>
								</div>
							</div>

							<div class="example">
								<h5>2、textarea：带验证</h5>
								<div class="form-textareaGroup clearfix mr-b15"> <span class="textarea-name"><i class="asterisk">*</i>留言内容：</span>
									<div class="textarea-div"> <textarea class="form-textareaFixedWidth focus-border" placeholder="请输入内容"></textarea> <strong> <label class="error">验证信息不能为空</label> </strong> </div>
								</div>
								<div class="code">
									<xmp>
										<div class="form-textareaGroup clearfix mr-b15"> <span class="textarea-name"><i class="asterisk">*</i>留言内容：</span>
											<div class="textarea-div"> <textarea class="form-textareaFixedWidth focus-border" placeholder="请输入内容"></textarea> <strong> <label class="error">验证信息不能为空</label> </strong> </div>
										</div>
									</xmp>
								</div>
							</div>

							<div class="example">
								<h5>3、textarea：短文本域</h5>
								<div class="form-textareaGroup clearfix mr-b15"> <span class="textarea-name"><i class="asterisk">*</i>留言内容：</span>
									<div class="textarea-div"> <textarea class="form-textareaFixedWidth focus-border" placeholder="请输入内容"></textarea> <strong> <label class="error">验证信息不能为空</label> </strong> </div>
								</div>
								<div class="code">
									<xmp>
										<div class="form-textareaGroup clearfix mr-b15"> <span class="textarea-name"><i class="asterisk">*</i>留言内容：</span>
											<div class="textarea-div"> <textarea class="form-textareaFixedWidth focus-border" placeholder="请输入内容"></textarea> <strong> <label class="error">验证信息不能为空</label> </strong> </div>
										</div>
									</xmp>
								</div>
							</div>

							<div class="example">
								<h5>4、textarea：短文本域</h5>
								 <textarea name="" class="textareaFxwh" rows="" cols="" placeholder="请输入内容短文本域"></textarea>
								<div class="code">
									<xmp>
									
									</xmp>
								</div>
							</div>
							
							<div class="example">
								<h5>5、textarea：超长文本域</h5>
								<div class="form-longTextarea mr-b15">
									<div class="longTexttitle">文本表头</div>
									<textarea name="" rows="" cols=""></textarea>
									<div class="textChecking">文本验证</div>
								</div>
								<div class="code">
									<xmp>
										<div class="form-longTextarea mr-b15">
											<div class="longTexttitle">文本表头</div>
											<textarea name="" rows="" cols=""></textarea>
											<div class="textChecking">文本验证</div>
										</div>
									</xmp>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>