<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			html,
			body {
				height: 100%;
			}
		</style>
	</head>

	<body class="login1">
		<div class="loginForm">
			<div class="logoImg">
				<img src="../imgs/logo2.png" />
			</div>
			<div class="loginInner">
				<form action="">
					<div class="loginHeader">用户登录 <span><i class="fa fa-fw fa-user"></i></span></div>
					<!--<div class="verification">登录验证提示信息</div>-->
					<div class="loginBody">
						<div class="loginInput clearfix">
							<label for=""><i class="fa fa-fw fa-user"></i>账户</label>
							<input type="text" placeholder="请输入账号" />
						</div>
						<div class="loginInput clearfix">
							<label for=""><i class="fa fa-fw fa-lock"></i>密码</label>
							<input type="text" placeholder="请输入密码" />
						</div>

						<div class="loginInput clearfix yzmInput">
							<label for=""><i class="fa fa-fw fa-image"></i>验证码</label>
							<input type="text" placeholder="请输入验证码" />
							<span>
								<img src="../imgs/yzm.png" alt="" />
							</span>
						</div>
					</div>
					<div class="loginFooter">
						<button>登录</button>
					</div>
				</form>
			</div>
			<div class="copyBottom">
				www.rocketcontrol.cn 上海驭箭信息科技有限公司
			</div>
		</div>

		<script type="text/javascript"></script>
	</body>

</html>