<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="tabledemo">
			<h1>
			 	<span class="span-tdname">分页&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span>
			 </h1>
		</div>

		<h5 class="demo-notice">
			基于bootstrap的分页类
		</h5>

		<div class="tip-demo">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="code">
			<xmp>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</xmp>
		</div>
		
		<h5 class="demo-notice">
			自定义分页
		</h5>
		
		<div class="tip-demo">
			<div class="paginglist">
				<strong class="prevIco">上一页</strong>
				<span><small>1</small><em>/</em><small>2</small></span>
				<strong class="nextIco">下一页</strong>
				<input type="text" />
				<div>跳转</div>
			</div>
		</div>
		
		<div class="code">
			<xmp>
				<div class="paginglist">
					<strong>上一页</strong>
					<span><small>1</small><em>/</em><small>2</small></span>
					<strong>下一页</strong>
					<input type="text" />
					<div>跳转</div>
				</div>
			</xmp>
		</div>		
	</body>

</html>