<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
  		<script src="./js/html5shiv.min.js"></script>
  		<script src="./js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="tabledemo">
			<h1>
			 	<span class="span-tdname">默认表格&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span>
			 </h1>
		</div>

		<h5 class="demo-notice">
			展示型表格，展示数据之用，不要放置任何form表单
		</h5>
		<div class="tabledemoWrap">
			<table class="table table-bordered table-show table-hover">
				<thead>
					<tr>
						<th>姓名 </th>
						<th>年龄</th>
						<th>班级</th>
						<th>学号</th>
						<th>分数</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="code">
			<xmp>
				<table class="table table-bordered table-show table-hover">
				<thead>
					<tr>
						<th>姓名 </th>
						<th>年龄</th>
						<th>班级</th>
						<th>学号</th>
						<th>分数</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
					<tr>
						<td>陈小花 </td>
						<td>21</td>
						<td>五年级</td>
						<td>89</td>
						<td>100</td>
					</tr>
				</tbody>
			</table>
			</xmp>
		</div>
	</body>
</html>