<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		
		<!--时间选择器-->
		<script src="../plugins/TimeSelect/laydate.js" type="text/javascript" charset="utf-8"></script>
		
		<!--[if lt IE 9]>
  		<script src="./js/html5shiv.min.js"></script>
  		<script src="./js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body>
		<div class="info2">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2"><span class="span-tdname">时间选择器&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="example">
								<h5>时间选择器，.focus-border这个类 </h5>
								<div class="form-inputGroup clearfix">
									<span class="input-name"><i class="asterisk">*</i>请选择时间：</span>
									<div class="input-div">
										<input class="form-inputFixedWidth focus-border time-select" placeholder="请选择时间" type="text">
										<strong>
											<label class="error">请选择时间</label>
										</strong>
									</div>
								</div>
								<div class="code">
									<xmp>
										<script src="../plugins/TimeSelect/laydate.js" type="text/javascript" charset="utf-8"></script>
										<div class="form-inputGroup clearfix">
												<span class="input-name"><i class="asterisk">*</i>表单标题：</span>
												<div class="input-div">
													<input type="text" class="form-inputFull focus-border laydate-icon time-select"  placeholder="请选择时间" value="" />
												</div>
										</div>
										<script type="text/javascript">
											$('.time-select').focus(function(){
												laydate({
													istime: true,
													format: 'YYYY-MM-DD hh:mm:ss'
												});  
											})
										</script>
									</xmp>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript">
			$('.time-select').focus(function(){
				laydate({
					istime: true,
					format: 'YYYY-MM-DD hh:mm:ss'
				});  
			})
		</script>
	</body>

</html>