<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<!--bootstrap核心包-->
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
		<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
		<!--字体图标       -->
		<link href="../css/root.css" rel="stylesheet" />
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
	  		<script src="./js/html5shiv.min.js"></script>
	  		<script src="./js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="tabledemo">
			<h1>
			 	<span class="span-tdname">提示条&emsp;<a onclick="history.go(-1)" href="javascript:void(0);">返回上级</a></span>
			 </h1>
		</div>

		<h5 class="demo-notice">
			提示条
		</h5>

		<div class="tip-demo">
				 <div class="tip-danger">危险：您已删除了所有用户信息</div>
				 <br />
				 <div class="tip-warning">警告：该类目信息较为重要，请仔细审核</div>
				 <br />
				 <div class="tip-success">成功：成功添加了某某信息</div>
				 <br />
				 <div class="tip-info">普通：这是一条无关紧要的信息</div>
				 <br />
				 <div class="tip-nothing">其他：自定义提示信息条</div>
		</div>
		 
		<div class="code">
			<xmp>
				 <div class="tip-danger">危险：您已删除了所有用户信息</div>
				 <br />
				 <div class="tip-warning">警告：该类目信息较为重要，请仔细审核</div>
				 <br />
				 <div class="tip-success">成功：成功添加了某某信息</div>
				 <br />
				 <div class="tip-info">普通：这是一条无关紧要的信息</div>
				 <br />
				 <div class="tip-nothing">其他：自定义提示信息条</div>
			</xmp>
		</div>

	</body>
</html>